<% include ../partials/header %>
<div class="container">
    <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1>Sign Up</h1>
                <% if(errors && errors.length>0){ %>
                    <div class="alert alert-danger" role="alert">
                        <% errors.forEach(function(error){ %>
                            <%= error %>
                            <br>
                        <% }) %>
                    </div>
                <% } %>
                <form action="/user/signup" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" id="email" name="email">
                    </div>
                    <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
                <a href="/">Go Back</a>
            </div>
        </div>
</div>

<% include ../partials/footer %>